.nav {
  background-color: #0c1821;
  height: 50px;
}

.link {
  background-color: white;
  color: black;
  font-size: 18pt;
  margin: 10px;
  text-align: center;
}

.active {
  background-color: rgb(206, 184, 184);
  color: black;
  font-size: 18pt;
  margin: 10px;
  text-align: center;
}

.text-blue {
  color: navy;
}

.text-red {
  color: #e4572e;
}

.on-view {
  font-size: 10pt;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.height-200 {
  height: 200px;
}

.margin-20 {
  margin: 20px;
}

.padding-10 {
  padding: 10px;
}

.text-large {
  font-size: 24pt;
}

.center {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-box {
  flex-basis: 25%;
}

button {
  display: inline-block;
  border: none;
  transition-duration: 0.4s;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button-black {
  background-color: #0c1821;
  color: white;
}

.button-black:hover {
  background-color: #ced3dc;
  color: white;
}

.button-lpurple {
  background-color: #aba9c3;
  color: #0c1821;
}

.button-lpurple:hover {
  background-color: #fcf7f8;
  color: #0c1821;
}
